NEXT_PUBLIC_SUPABASE_URL=https://TON_PROJET.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=ta_cle_anon_publique
SUPABASE_SERVICE_ROLE_KEY=ta_cle_service_role_secrete
RESEND_API_KEY=re_ta_cle_resend
ADMIN_CODE=change_ce_code_secret
